<header></header>
<div class="main-content">
    <div class="initial-information">
        <div class="information">
          <div class="title">
            <h1>Historial de incidencias</h1>
          </div>
          <div class="add-incident">
            <button>incidencias</button>
          </div>
        </div>
        <img src="../../assets/img/Group 222.png" class="grafico1">
        <img src="../../assets/img/Frame 230.png" class="grafico2">
        <div class="interactions-search">
          <div class="search-bar">
            <input type="text" name="" id="search-bar-input" placeholder="Ingresa el código o nombre del colaborador">
            <button class="button-search">
              <i class="fas fa-search"></i>
              buscar</button>
        </div>
        <div class="incidents-section-filter">
          <div class="filter">

            <p>filtrar por:</p>
            <select name="" id="">
                <option value="Tipo" >Tipo de incidencia</option>
                <option value="">ausentismo</option>
                <option value="">tardanzas</option>
                <option value="">abandonos</option>
                <option value="">trabajo mal realizado</option>
                <option value="">Seguridad y Salud</option>
                <option value="">desobediencia</option>
                <option value="">otros</option>
                <option value="">falta de respeto</option>
                <option value="">incumplimiento de capacitaciones</option>

            </select>
            <select name="" id="">
              <option value="Estado" >Estado</option>
              <option value="pendiente">Pendiente</option>
              <option value="cerrado">Cerrado</option>
          </select>
          <!-- <select name="" id="">
            <option value="Estado" >Fecha</option>
            <option value="">Pendiente</option>
        </select> -->
        </div>
            
        </div>
        </div>
        
    </div>
    
        
        
        <div class="incidents-section-table">
          <div>
            <app-table ></app-table>
          </div>
          
        </div>
</div>