<div class="main-content">
  <div class="initial-information">
    <div class="flex-container">
      <h1 class="subtitle">Historial de incidencias</h1>
      <button routerLink="/new-report" class="btn-new" mat-raised-button color="primary">
        <mat-icon style="vertical-align: middle;">add</mat-icon>
        NUEVA INCIDENCIA

      </button>
    </div>
    <div class="graphic-container">

      <app-chart2 class="grafico"></app-chart2>
      <app-chart class="grafico"></app-chart>
    </div>
    <div class="interactions-search">
      <!-- <div class="search-bar">
        <input type="text" name="" id="search-bar-input" placeholder="Ingresa el código o nombre del colaborador">
        <button class="button-search">
          <i class="fas fa-search"></i>
          buscar</button>
      </div> -->
    </div>

  </div>



  <div class="incidents-section-table">
    <div>
      <app-table></app-table>
    </div>

  </div>
</div>