@import "../../../../styles.scss";

.main-content {
  .initial-information {
    .flex-container{
      margin-top: 2%;
       
      .btn-new{
         display: flex;
        justify-content: center;
        align-items: center;
        width: 16%;
        background-color: #f39200;
        margin-right: 6%;
        border-radius: 30px;
    padding: 5px 10px;
    //font-size: 80%;
    border:none;
    box-shadow:0px 1px 4px $gray-color;
    padding: 0.5% 2%;
      }
    }
    .graphic-container {
      display: flex;
      justify-content: space-between;
      
      
      &-dates {
        width: 10%;
        box-shadow:0px 1px 4px $gray-color;
        border-radius: 10px;
        padding: 1.2%;
      }
    }

    .grafico {
      width: 50%;
      height: 100%;
      margin-top: 2%;
      margin-bottom: 2%;
    }

    .interactions-search {
      display: flex;

      .search-bar {
        background: #ffffff;
        align-self: center;
        margin-right: 5%;
        border: 1px solid $gray-clear;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;

        input {
          border: none;
          padding: 5px 10px;
          width: 100%;
        }

        input:focus {
          outline: none;
        }

        .button-search {
          /* Green letter Ransa */
          height: 34px;
          width: 30%;
          background: $main-color;
          border: 1px solid $gray-clear;
          box-sizing: border-box;
          border-radius: 0px 4px 4px 0px;
          color: #ffff;
        }
      }

      
    }
  }

  .incidents-section-table {
    margin-top: 1%;
  }
}