<header class="header flex-container">
  <div class="header__brand">
    <img class="responsive-image" [src]=logo alt="">
  </div>
  <nav>
    <ul class="flex-container">
      <li>
        <a >Reportes</a>
      </li>
      <li>
        <a >Preguntas Frecuentes</a>
      </li>
      <li>
        <a>
          <p>
          <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
            <!-- Include text description of the icon's meaning for screen-readers -->
            <span class="cdk-visually-hidden">
              Example with a home icon with overlaid badge showing the number 15
            </span>
        </p>
        </a>
      </li>
      <li>
        <a >Alexa Rogue</a>
      </li>
    </ul>
  </nav>
</header>