@import "../../../styles.scss";

.header {
  border-bottom: 1px solid $highlight-color;
  padding: 10px;
  li {
    margin-left: 10px;
  }
  li:hover {
    border-bottom: 1px solid $highlight-color;
    color: $main-color;
  }
}

.header__brand {
  width: 150px;
}
