<header class="header flex-container">
  <div class="header__brand">
    <img class="responsive-image" [src]=logo alt="">
  </div>
  <nav>
    <ul class="flex-container">
      <li>
        <a >Reportes</a>
      </li>
      <li>
        <a >Preguntas Frecuentes</a>
      </li>
      <li>
        <a>
            <img class="icon" [src]=notification alt="">
          <!-- <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon> -->
        </a>
      </li>
      <li>
        <a class="flex-container">
          <img class="icon" [src]=profile alt="">
          {{user}}
        </a>
      </li>
    </ul>
  </nav>
</header>