<!-- <table class="content-table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Tipo de incidencia</th>
      <th>Fecha de incidencia</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tbody" *ngFor="let sanction of allSanctions">
      <td>{{sanction.codigo}}</td>
      <td>{{sanction.nombreTrabajador}}</td>
      <td>{{sanction.motivo}}</td>
      <td>{{sanction.fechaIncidencia}}</td>
      <td>{{sanction.estado}}</td>
      <td>
        <div class="icons-actions" *ngIf="showEdit">
          <img src="./assets/images/ver.svg" alt="ver">
          <img src="./assets/images/descargar.svg" alt="">
          <!-- <div *ngIf="showEdit">
            <img src="./assets/images/lapiz.svg" alt="">
          </div> 
        </div>
        <ng-template #loading>
          <div><img src="./../../../assets/images/lapiz.svg" alt=""></div>
         </ng-template>
    </tr>

  </tbody>
</table> -->
<div class="wrapper">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
    </ng-container>
<!-- // aqui se define displayedColmns -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> estado</th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>
    <ng-container matColumnDef="motivo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> motivo </th>
      <td mat-cell *matCellDef="let element"> {{element.motivo}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Angular 8 pagination -->
 
</div>

