<div class="container">
    <figure class="container__img">
        <img class="container__img--content" src="../../assets/images/EMPRESA_.jpg" alt="">
    </figure>
    <form class="container__form">
        <figure>
            <img src="../../assets/images/ransa-logo.png">
        </figure>
        <p>
        <mat-form-field appearance="legacy">
            <mat-label>Legacy form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
        </p>
        <p>
        <mat-form-field appearance="standard">
            <mat-label>Standard form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
        </p>
        <div class="container__form--content">
            <button type="submit">INGRESAR</button>
        </div>
    </form>
</div>