<table  class="content-table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Tipo de incidencia</th>
        <th>Días hombre perdido</th>
        <th>Fecha de incidencia</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sanction of allSanctions">
        <td>{{sanction.codigo}}</td>
        <td>{{sanction.nombreTrabajador}}</td>
        <td>{{sanction.motivo}}</td>
        <td>{{sanction.diasHombrePerdidos}}</td>
        <td>{{sanction.fechaIncidencia}}</td>
        <td>{{sanction.estado}}</td>
        <td>
          <a href="https://firebasestorage.googleapis.com/v0/b/ransa-d8b38.appspot.com/o/FormatoAntecedentes%2FFormato%20reporte%20antecedentes%20(1).docx?alt=media&token=ee2c95b3-f567-46be-bd6a-dc63b6db1526">
            <img src="../../../assets/icons/folder.png" class="visualizar-icon">
          </a>
        </td>
      </tr>
      
    </tbody>
  </table>