@font-face {
  font-family: univia;
  src: url("./assets/fonts/UniviaPro-Regular.otf");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: univia, Verdana, Geneva, Tahoma, sans-serif;
}
